<div ng-app="datacityApp" ng-controller="MainCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Datensätze</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Erstellt</th>
          <th>Geändert</th>
          <th></th>
        </tr>
        <tr ng-repeat="collection in collections"  ng-click="setChosenCollection(collection._id)">
          <td>{{collection._id}}</td>
          <td>{{formatTimeString(collection._created_on)}}</td>
          <td>{{formatTimeString(collection._lastupdated_on)}}</td>
          <td><span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="deleteDataset(collection.id)"></span></td>
        </tr>
      </table>

      <div ng-show="chosenCollection" class="well">
        {{getIdOfCollection(chosenCollection)}}
      </div>


      




      <button type="button" class="btn btn-default pull-right" ng-click="dataView.showUploadForm = !dataView.showUploadForm">
        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> CSV-Datei hochladen
      </button>
      <div class="pull-left">
        Legende: <br />
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Löschen <br />
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ansichten verwalten <br />
      </div>
    </div>
  </div>
  <div class="panel panel-default" ng-show="dataView.showUploadForm">
    <div class="panel-heading">
      <h3 class="panel-title">Datensatz hochladen</h3>
    </div>
    <div class="panel-body">
      <uploadformdatasourcefile></uploadformdatasourcefile>
    </div>
</div>
