<div ng-app="datacityApp" ng-controller="ImportCtrl" class="container">
    <div ng-show="loggedIn && !loader" id="collapseAll" class="panel-collapse collapse in">
        <a ng-href="#/data"><i class=" glyphicon glyphicon-chevron-left"></i>Einen Datensatz auswählen</a>
        <br></br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Datensatz importieren</h3>
            </div>
            <div class="panel-body">
                <uploadformdatasourcefile></uploadformdatasourcefile>
                <div class="container">
                    <b>Datensatz:</b>
                    <input id="csv-file" name="Datei" type="file" size="50" accept="csv/*">
                    <br></br>
                    <!--<b>Verbindungen:(optional)</b>
                    <input name="Verbindungsdatei" type="file" size="50" accept="csv/*">
                    <br></br>-->
                    <p><i>Noch nicht implementiert!</i></p>
                    <button type="button" class="btn btn-default" ng-click="startImport()">Datei(en) importieren</button>
                </div>
            </div>
        </div>
    </div>
    <loadingpanel percentage={{percentage}} msg={{msg}} ng-show="loader"></loadingpanel>
</div>