<div ng-app="datacityApp" ng-controller="ImportCtrl" class="container">
    <div ng-show="loggedIn && !loader" id="collapseAll" class="panel-collapse collapse in">
        <a ng-href="#/data"><i class=" glyphicon glyphicon-chevron-left"></i>Einen Datensatz auswählen</a>



<!-- erstmal ausgeklammert fuer den ersten commit-->
        <!--<div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">Datensatz hochladen</h3>
            </div>
        <div class="panel-body">
            <uploadformdatasourcefile></uploadformdatasourcefile>
            <div class="container">
            <h3>Eine .csv-Datei hochladen:</h3>
            <input name="Datei" type="file" size="50" accept="csv/*">
            <button type="button" class="btn btn-default" onclick="">Datei hochladen</button>
            </div>
        </div>
        </div>-->

    </div>
</div>
