<div ng-app="datacityApp" ng-controller="MainCtrl">
	<form role="form" ng-hide="loggedIn">
  		<div class="form-group">
    		<label>Username:</label>
    		<input type="text" value="a" class="form-control" ng-model="usernameInput" placeholder="a">
  		</div>
  		<div class="form-group">
    		<label for="pwd">Password: [noch keine Funktion]</label>
    		<input type="password" class="form-control" ng-model="passwordInput" placeholder="a">
  		</div>
		<button type="submit" class="btn btn-default" ng-click="login(usernameInput, passwordInput)">Einloggen</button>
	</form>
	<div class="container" ng-show="loggedIn">
		<h2>Einloggen erfolgreich!</h2>	
	</div>
</div>