<choosedatasource></choosedatasource>
<div class ="container">
	<h3>Einen Datensatz auswählen:</h3>
 	<div class="btn-group"> <!--  ng-repeat="sets in datasets" -->
  		<button type="button" class="btn btn-default btn-sm">Datensatz 1</button>
    	<button class="btn btn-danger btn-sm" ng-click="removeTodo($index)" aria-label="Remove">X</button>
	</div>
 	<div class="btn-group">
  		<button type="button" class="btn btn-default btn-sm">Datensatz 2</button>
    	<button class="btn btn-danger btn-sm" ng-click="removeTodo($index)" aria-label="Remove">X</button>
	</div>
	 	<div class="btn-group">
  		<button type="button" class="btn btn-default btn-sm">...</button>
    	<button class="btn btn-danger btn-sm" ng-click="removeTodo($index)" aria-label="Remove">X</button>
	</div>
	[Nach Auswahl eines Datensatzes werden die Parameter und Ansichten aktualisiert; Sicherheitsabfrage beim Löschen]
</div>

<hr style="width: 100%; color: black; height: 1px; background-color:black;" />

<div class="container">
	<h3>Eine .csv-Datei hochladen:</h3>
		<input name="Datei" type="file" size="50" accept="csv/*">
		<button type="button" class="btn btn-default" onclick="">Datei hochladen</button>
</div>

<hr style="width: 100%; color: black; height: 1px; background-color:black;" />

<div class ="container">
	<h3>Eine Ansicht auswählen:</h3>
 	<div class="btn-group"> <!--  ng-repeat="view in views" -->
  		<button type="button" class="btn btn-default btn-sm">Ansicht 1</button>
    	<button class="btn btn-danger btn-sm" ng-click="removeTodo($index)" aria-label="Remove">X</button>
	</div>
 	<div class="btn-group">
  		<button type="button" class="btn btn-default btn-sm">Ansicht 2</button>
    	<button class="btn btn-danger btn-sm" ng-click="removeTodo($index)" aria-label="Remove">X</button>
	</div>
	 	<div class="btn-group">
  		<button type="button" class="btn btn-default btn-sm">...</button>
    	<button class="btn btn-danger btn-sm" ng-click="removeTodo($index)" aria-label="Remove">X</button>
	</div>
		[Nach Auswahl eines Datensatzes werden die Parameter aktualisiert; Sicherheitsabfrage beim Löschen]
</div>

<hr style="width: 100%; color: black; height: 1px; background-color:black;" />

<div class="container">
	Die aktuelle Ansicht speichern unter: <input type="text">
	<button type="button" class="btn btn-default" onclick="">Ansicht speichern</button>
</div>

<div class="container">
	<h3>Parameter eingeben:</h3>
</div>

<div class = "container">
 <div class="col-sm-4">
  <label for="sel1">Fläche:</label>
  <select class="form-control" id="flaecheselektieren">
	<option>1</option>
	<option>2</option>
	<option>3</option>
	<option>4</option>
  </select>
</div>
</div>

<div class = "container">
 <div class="col-sm-4">
  <label for="sel1">Höhe:</label>
  <select class="form-control" id="hoeheselektieren">
	<option>1</option>
	<option>2</option>
	<option>3</option>
	<option>4</option>
  </select>
</div>
</div>

<div class = "container">
	 <div class="col-sm-4">
	  <label for="sel1">Farbe:</label>
	  <select class="form-control" id="farbeselektieren">
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
	  </select>
	</div>
	<div class="col-sm-4">
	<br><br>
		<label class="radio-inline"><input type="radio" name="farbenRadio" id="farbenRadio1" checked>Aufsteigend</label>
		<label class="radio-inline"><input type="radio" name="farbenRadio" id="farbenRadio2">Absteigend</label>
	</div>
</div>

<br><br>

<div class = "container">
 <div class="col-sm-4">
  <label for="sel1">Gruppierungen:</label>
  <select class="form-control" id="gruppierung">
	<option>1</option>
	<option>2</option>
	<option>3</option>
	<option>4</option>
  </select>
</div>
<div class="col-sm-8">
	<br>[Hier muss noch nach Abfrage des Typs bei Integer ein Eingabefeld hin]
</div>
</div>

<div class = "container">
 <div class="col-sm-4">
  <label for="sel1">Verbindungen:</label>
  <select class="form-control" id="verbindung">
	<option>1</option>
	<option>2</option>
	<option>3</option>
	<option>4</option>
  </select>
</div>
<div class="col-sm-8">
	<br>[Es ist noch unklar, wie genau der Input bei den Verbindungen dargestellt wird]
</div>
</div>

<div class = "container">
<div class="col-sm-4">
<label>Winkel einstellen:</label>
	<div id="slider">
		<input class="bar" type="range" min="0" max="360" step="1" id="winkelInput" value="0" onchange="winkelOutput.value=value.concat('°')"/>
		<output id="winkelOutput">0°</output>
	</div>
</div>
</div>

<div class = "container">
<div class="col-sm-4">
<label>Granularität einstellen:</label>
	<div id="slider">
		<input class="bar" type="range" min="0" max="100" step="1" id="granularInput" value="0" onchange="granularOutput.value=value.concat('%')"/>
		<output id="granularOutput">0%</output>
	</div>
</div>
</div>

<div class = "container">
<button type="button" class="btn btn-default" onclick="ausgabe()">Ausgabe anzeigen</button>
</div>

<div class = "container">
	<h3>Ausgabe:</h3>
	<p id="ausgabe"></p>
</div>		

	<choosedatasource></choosedatasource><br>
	<uploadformdatasourcefile></uploadformdatasourcefile><br>
	<chooseexistingmongodbcollection></chooseexistingmongodbcollection><br><br>
	<displaydatasettings></displaydatasettings>