<div ng-app="datacityApp" ng-controller="ViewsCtrl">
    <!-- class="container"-->

    <!-- Fehlerausgabe, falls man nicht eingeloggt ist -->
    <div class="alert alert-danger" role="alert" ng-hide="loggedIn">
        <h3>Sie sind nicht eingeloggt!</h3>
    </div>

    <div ng-show="loggedIn" id="collapseAll" class="panel-collapse collapse in">
        <a ng-href="#/data"><i class=" glyphicon glyphicon-chevron-left"></i>Einen Datensatz auswählen</a>
        <div class="alert alert-danger" role="alert" ng-hide="collID">
            <h3>Kein Datensatz gewählt!</h3>
        </div>
        <div ng-show="collID">
            <h3>Ausgewählter Datensatz: <i>{{collID}}</i></h3>
        </div>

        <div class="panel panel-primary" id="views">
            <div class="panel-heading">
                <h4 class="panel-title">
					Ansichten
				</h4>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Datensatz</th>
                        <th>Erstellt von</th>
                        <th>Erstellt am</th>
                        <th>Geändert von</th>
                        <th>Geändert am</th>
                    </tr>
                    <tr ng-repeat="view in views | filter:collID:true" ng-click="setChosenView(view);">
                        <td>{{view.name}}</td>
                        <td>{{view.collID}}</td>
                        <td>{{view.creator}}</td>
                        <td>{{jstimeToFormatedTime(view.timeOfCreation)}}</td>
                        <td>{{view.lastModifiedBy}}</td>
                        <td>{{jstimeToFormatedTime(view.timeOfLastModification)}}</td>
                    </tr>
                    <tr ng-hide="numberOfViews > 0">
                        <td colspan="6" align="center">Keine Ansichten vorhanden!</td>
                    </tr>
                </table>
            </div>
            <button type="button" class="btn btn-default pull-right" ng-click="newView();">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neue Ansicht erstellen
            </button>
        </div>
        <br>
        <!-- Spinner um zu zeigen, dass geladen wird -->
        <span us-spinner ng-show="loggedIn && loader"></span>
        <div class="panel panel-primary" id="dimensions" ng-show="chosenView">
            <div class="panel-heading">
                <h4 class="panel-title">
					Ansicht bearbeiten: {{chosenView.name}}
					
					<!-- Die Bearbeitungs-Icons -->
					<div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
						<!-- Reihenfolge der beiden "data-toggle"'s nicht verändern! Funktioniert nur so! -->
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteViewModal" data-toggle="tooltip" title="Löschen" >
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-default" data-toggle="tooltip" title="Download" ng-click="downloadJSON()">
							<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-default" data-toggle="tooltip" title="Kopie erstellen" ng-click="copyView(chosenView)">
							<span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
						</button>
					</div>
				</h4>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon">Name der Ansicht</span>
                    <input type="text" class="form-control" placeholder="{{chosenView.name}}" ng-model="chosenView.name" ng-blur="updateView();">
                </div>
                <br />

                <!-- SCHRITT 1 - Daten reduzieren -->
                <form name="dimform" id="dimform">
                    <div class="panel panel-default">
                        <div class="panel-heading" ng-click="showStep1 = !showStep1;">
                            <span class="panel-title">1. Daten reduzieren</span>
                            <span class="glyphicon glyphicon-chevron-up pull-right" ng-show="showStep1" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-chevron-down pull-right" ng-hide="showStep1" aria-hidden="true"></span>
                        </div>
                        <div class="panel-body" ng-show="showStep1">
                            <table class="table table-striped table-bordered table-condensed table-responsive">
                                <colgroup>
                                    <col span="1" style="width: 5%;"></col>
                                    <col span="1" style="width: 10%;"></col>
                                    <col span="1" style="width: 5%;"></col>
                                    <col span="1" style="width: 5%;"></col>
                                    <col span="1" style="width: 75%;"></col>
                                </colgroup>
                                <thead>
                                    <th>Nutzen</th>
                                    <th>Name</th>
                                    <th>Typ</th>
                                    <th>Filtern</th>
                                    <th>Optionen</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="attr in chosenView.attributes">
                                        <td>
                                            <input type="checkbox" ng-model="attr.chooseable">
                                        </td>
                                        <td>{{attr.name}}</td>
                                        <td>{{attr.type}}</td>
                                        <td>
                                            <input type="checkbox" ng-model="attr.toBeFiltered" ng-show="attr.type === 'number'">
                                        </td>
                                        <td>
                                            <div ng-show="attr.toBeFiltered && attr.type === 'number'">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-4"> <span class="pull-left">Minimum: {{chosenView.metaData['min_' + attr.name]}} </span></div>
                                                            <div class="col-md-4 col-sm-4"> <span class="center-block text-center"> Durchschnitt: {{chosenView.metaData['avg_' + attr.name]}}</span></div>
                                                            <div class="col-md-4 col-sm-4"> <span class="pull-right"> Maximum: {{chosenView.metaData['max_' + attr.name]}} </span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                                        <slider ng-model="attr.numberValueFilter" min="chosenView.metaData['min_' + attr.name]" max="chosenView.metaData['max_' + attr.name]"
                                                        value="attr.numberValueFilter"
                                                        range="true"></slider>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- SCHRITT 2 - Verbindungen -->
                        <div class="panel panel-default">
                            <div class="panel-heading" ng-click="showStep2 = !showStep2;">
                                <span class="panel-title">2. Verbindungen</span>
                                <span class="glyphicon glyphicon-chevron-up pull-right" ng-show="showStep2" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-chevron-down pull-right" ng-hide="showStep2" aria-hidden="true"></span>
                            </div>
                            <div class="panel-body" ng-show="showStep2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="chosenView.useConnections"> Verbindungen nutzen
                                    </label>
                                </div>
                                <div ng-show="chosenView.useConnections">
                                    <fieldset class="formgroup">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" ng-model="chosenView.connectionType" value="asSingleField"> Ein Feld des Datensatzes nutzen, dass die Summe der Verbindungen enthält.
                                                Die Verbindungsrichtung geht dabei verloren
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" ng-model="chosenView.connectionType" value="asAggregation"> Verbindungsrichtungen nutzen:
                                                <br /> Jede Zeile enthält ein Feld, in dem das Ziel spezifiziert wird. Die Verbindungen
                                                entstehen, indem diese Felder aggregiert werden.
                                            </label>
                                        </div>
                                    </fieldset>
                                </div>

                            </div>
                        </div>
                        <!-- SCHRITT 2 - Daten aggregieren
                        <div class="panel panel-default">
                            <div class="panel-heading" ng-click="showStep2 = !showStep2;">
                                <span class="panel-title">2. Daten aggregieren</span>
                                <span class="glyphicon glyphicon-chevron-up pull-right" ng-show="showStep2" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-chevron-down pull-right" ng-hide="showStep2" aria-hidden="true"></span>
                            </div>
                            <div class="panel-body" ng-show="showStep2">
                                <table class="table">
                                    <thead>
                                        <th>Nr.</th>
                                        <th></th>
                                        <th>Löschen</th>
                                    </thead>
                                    <tr ng-repeat="(arrayIndex, aggregation) in chosenView.aggregations">
                                        <td><b>{{arrayIndex + 1}}</b></td>
                                        <td>
                                            <table class="table">
                                                <thead>
                                                    <th>Beschreibung</th>
                                                    <th>Attribut</th>
                                                    <th>Operation</th>
                                                    <th>Neuer Name</th>
                                                </thead>
                                                <tr>
                                                    <td>Gruppieren über</td>
                                                    <td>
                                                        <select ng-model="aggregation.groupOverField" ng-options="attr as attr.name for attr in (attributes | bychooseability) track by attr.name"></select>
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <input type="text"></input>
                                                    </td>
                                                </tr>
                                                <tr ng-show="aggregation.groupOverField" ng-repeat="(key, attr) in (attributes | bychooseability | attrbyname:aggregation.groupOverField)">
                                                    <td></td>
                                                    <td>{{attr.name}}</td>
                                                    <td>
                                                        <select ng-options="option as option.name for option in availableAggregationOperations track by option.cmd" ng-model="selected"></select>
                                                    </td>
                                                    <td>
                                                        <input type="text"></input>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-danger pull-right" aria-label="Left Align" ng-click="removeAggregation(key);">
                                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>

                                <!-- Button: Neue Aggregation 
                                <button type="button" class="btn btn-success pull-right" aria-label="Left Align" ng-click="addNewAggregation()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true">Aggregationsschritt hinzufügen</span>
                                </button>
                            </div>
                        </div>
                        -->
                        <!-- SCHRITT 3 - Blöcke bilden -->
                        <div class="panel panel-default">
                            <div class="panel-heading" ng-click="showStep3 = !showStep3;">
                                <span class="panel-title">3. Blöcke definieren</span>
                                <span class="glyphicon glyphicon-chevron-up pull-right" ng-show="showStep3" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-chevron-down pull-right" ng-hide="showStep3" aria-hidden="true"></span>
                            </div>
                                <div ng-show="showStep3">
                                    <fieldset class="formgroup">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" ng-model="chosenView.districtType" value=0> Keine Blockbildung benutzen
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" ng-model="chosenView.districtType" value=1> Die Blöcke werden nach jedem Punkt erzeugt
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" ng-model="chosenView.districtType" value=2> Blöcke auswählen
                                            </label>
                                        </div>
                                    </fieldset>
                                </div>
                            
                            <div class="panel-body" ng-show="chosenView.districtType == 2 && showStep3">
                                Block Nr.1 entspricht dem innersten Block.
                                <table class="table">
                                    <thead>
                                        <th>Nr.</th>
                                        <th>Feld</th>
                                        <th>Löschen</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(index, district) in chosenView.districts">
                                            <td>{{index + 1}}</td>
                                            <td>
                                                <select ng-model="district.field" ng-options="attr as attr.name for attr in (chosenView.attributes | bychooseability) track by attr.name"></select>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-xs btn-danger" aria-label="Left Align" ng-click="deleteDistrict(index);">
                                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-success pull-right" aria-label="Left Align" ng-click="addDistrict()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true">Block hinzufügen</span>
                                </button>
                            </div>
                        </div>

                        <!-- SCHRITT 4 - Dimensionen bestimmen -->

                        <div class="panel panel-default">
                            <div class="panel-heading" ng-click="showStep4 = !showStep4;">
                                <span class="panel-title">4. Dimensionen der Gebäude definieren</span>
                                <span class="glyphicon glyphicon-chevron-up pull-right" ng-show="showStep4" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-chevron-down pull-right" ng-hide="showStep4" aria-hidden="true"></span>
                            </div>
                            <div class="panel-body" ng-show="showStep4">
                                <table class="table">
                                    <!-- NAME -->
                                    <tr>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">Name</span>
                                                <select class="form-control" ng-model="chosenView.dimensionSettings.name" ng-options="attr as attr.name for attr in (chosenView.attributes | bychooseability) track by attr.name"></select>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- FLÄCHE -->
                                    <tr>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">Fläche</span>
                                                <select class="form-control" ng-model="chosenView.dimensionSettings.area" ng-options="attr as attr.name for attr in (chosenView.attributes | bychooseability | bytype:'number') track by attr.name"></select>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- HÖHE -->
                                    <tr>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">Höhe</span>
                                                <select class="form-control" ng-model="chosenView.dimensionSettings.height" ng-options="attr as attr.name for attr in (chosenView.attributes | bychooseability | bytype:'number') track by attr.name"></select>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- FARBE -->
                                    <tr>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">Farbe</span>
                                                <select class="form-control" ng-model="chosenView.dimensionSettings.color" ng-options="attr as attr.name for attr in (chosenView.attributes | bychooseability | bytype:'number') track by attr.name"></select>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                </form>

                <div>

                    <button type="button" class="btn btn-success btn-xs" ng-click="updateView();" ng-show="dimform.$dirty"> <span class="glyphicon glyphicon-ok"></span> Änderungen speichern</button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="discardChanges()" ng-show="dimform.$dirty"> <span class="glyphicon glyphicon-remove"></span> Änderungen verwerfen</button>
                    <button type="button" class="btn btn-primary btn-lg pull-right" ng-click="drawCity();" onclick="this.innerHTML='Stadt aktualisieren'">Stadt anzeigen</button>
                </div>
                </div>
            </div>

            <!-- Modal: "Popup", ob eine Ansicht gelöscht werden soll -->
            <div id="deleteViewModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Möchten Sie die Ansicht "{{chosenView.name}}" wirklich löschen?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" ng-click="deleteView(chosenView)">Ja</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Nein</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Ein- und Ausklappen der Auswahlmöglichkeiten -->
    <div class="text-center">
        <a href="javascript:;" data-toggle="collapse" data-parent="#collapseAll" data-target="#collapseAll" ng-click="showEverything=!showEverything">
            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" ng-hide="showEverything"></span>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="showEverything"></span>
        </a>
    </div>

    <!-- Hier wird die Stadt rein gezeichnet -->
    <div id="Stadt" style="position:absolute;"></div>